@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Arima Madurai', sans-serif;
}

body {
  background: url(img/BgLeader.png);
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
  color: wheat;
}

/* Score section */

.container {
  display: flex;
  margin-top: 50px;
}

.score-container {
  width: 60%;
}

.score-title {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  color: #fff;
}

.score-title h2 {
  font-size: 25px;
}

.score-title button {
  padding: 6px;
  color: #bfb144;
  border: 2px solid #bfb144;
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
}

.score-title button:hover {
  border: none;
  background: #bfb144;
  color: #fff;
  transition: 0.5s ease;
}

.score {
  background: #fff;
  margin: 30px auto;
  width: 70%;
  border-radius: 20px;
}

.score .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score .player:nth-child(odd) {
  background: rgb(221, 221, 221);
  border-radius: 17px;
}

.player .classement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin-left: 15px;
}

.player img {
  height: 40px;
}

.player h4 {
  margin-right: 15px;
}

.player p {
  color: #897d25;
  font-size: 10px;
}

/* Name input section */

.names-container {
  width: 40%;
}

.names-container h2 {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.names-container form {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.names-container input {
  width: 45%;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
}

.names-container #submit {
  padding: 6px 10px;
  border-radius: 15px;
  color: #bfb144;
  border: 2px solid #bfb144;
  background: transparent;
  cursor: pointer;
}

.names-container #submit:hover {
  border: none;
  background: #bfb144;
  color: #fff;
  transition: 0.5s ease;
}

/* Mobile design version */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
  }

  .score-container {
    width: 100%;
  }

  .score-title {
    width: 75%;
  }

  .score {
    width: 85%;
  }

  .names-container {
    width: 70%;
    margin: auto;
  }

  .names-container input {
    width: 80%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
  }
}
