@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Arima Madurai', sans-serif;
}
body {
    background-color: gray;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}

/* Score section */

.container {
    display: flex;
    margin-top: 50px;
}

.score-container {
    width: 60%;
}

.score-title {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.score-title button {
    padding: 6px;
}

.score {
    margin: 30px auto;
    width: 70%;
    border: 3px solid #000;
}

.score li {
    background: rgb(241, 241, 241);
    list-style: none;
    font-size: 20px;
}

.score li:nth-child(odd) {
    background: rgb(198, 197, 197);
}

/* Name input section */

.names-container {
    width: 40%;
}

.names-container h2 {
    text-align: center;
}

.names-container form {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.names-container input {
    width: 45%;
    margin-bottom: 20px;
    padding: 5px;
}

.names-container button {
    padding: 6px;
}